.footer {
	height: 248px;
	background-color: @main-blue;

	a {
		color: @white;
	}

	&__wrapper {
		height: inherit;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__rights {
		font-size: 14px;
		color: @white;
	}
}