.page {
	h1, h2 {
		text-align: center;
	}

	p {
		margin-bottom: 15px;

		strong {
			display: inline-block;
			margin-top: 30px;
			margin-bottom: 4px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	ul {
		padding-left: 20px;

		li{
			list-style: disc;
		}
	}

	.header__nav ul {
		padding-left: 0;

		li {
			list-style-type: none;
		}
	}

	&__intro {
		padding: 0;
		height: 800px;

		.md-block({
			height: 600px;
		});

		.sm-block({
			height: 400px;
		});

		.container {
			display: flex;
			align-items: center;
			height: inherit;
		}


		&--aboutCompany {
			color: @white;
			background: @main-blue url(../img/intro-aboutCompany.jpg) no-repeat center / cover;

			.page__introWrapper {

				&::after {
					background-color: rgba(255, 255, 255, 0.15);
				}
			}
		}

		&--shares {
			color: @white;
			background: @main-grey url(../img/shares-bg.jpg) no-repeat center / cover;

			.page__introWrapper {
				padding: 38px 178px 38px 0px;

				&::after {
					background-color: @red;
				}
			}
		}

		&--articles {
			background: @main-grey url(../img/page-x-bg.png);
			
			.page__introWrapper {
				padding: 0;
				max-width: 680px;
				position: relative;

				.md-block({
					max-width: 100%;
				});

				h1 {
					text-align: left;
				}

				&::after {
					content: '';
					display: inline-block;
					width: 348px;
					height: 361px;
					background: url(../img/garanty.png) no-repeat / cover;
					transform: translateY(-30%);
					position: absolute;
					top: 0;
					right: -492px;

					.lg-block({
						width: 250px;
						height: 260px;
						transform: translateY(-14%);
						right: -290px;
					});

					.md-block({
						display: none;
					});
				}
			}

			.page__introText {
				font-size: 1rem;
			}
		}

		&Wrapper {
			width: 100%;
			max-width: 592px;
			padding: 86px 42px 86px 0;
			box-sizing: border-box;
			position: relative;
			z-index: 1;

			&::after {
				content: '';
				display: block;
				width: 800%;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -1;
			}
		}

		&Text {
			margin-top: 20px;
			font-size: 1.125rem;
			line-height: 1.5rem;
		}
	}

	&__textWrapper {
		max-width: 970px;
		margin: 50px auto 0;

		.sm-block({
			margin-top: 25px;
		});

		h3 {
			margin-top: 40px;
			margin-bottom: 20px;
			font-size: 1.438rem;
			line-height: 1.625rem;

			.sm-block({
				margin-top: 20px;
				margin-bottom: 10px;
			});
		}

		i {
			max-width: 770px;
			display: inline-block;
			margin-bottom: 10px;
		}

		a {
			color: @text-blue;
		}

		ol {
			margin: 0;
			margin-bottom: 10px;
			padding-left: 20px;

			ul li {
				list-style: lower-latin;
			}
		}

		strong {
			display: inline-block;
			margin: 10px 0;
			text-transform: uppercase;
			font-weight: 700;

			.sm-block({
				margin-top: 0px;
			});
		}

		ul {
			margin-bottom: 10px;
		}
	}

	figure {
		margin: 0;
		display: flex;
		align-items: flex-start;

		.xs-block({
			justify-content: center;
			flex-wrap: wrap;
		});
		
		img {
			width: 100%;
			max-width: 308px;

			.md-block({
				max-width: 250px;
			});	

			.sm-block({
				max-width: 200px;
			});	

			.xs-block({
				max-width: 100px;
				margin-bottom: 10px;
			});
		}

		figcaption {
			margin-left: 28px;
			max-width: 570px;
		}

		p {
			margin-bottom: 25px;

			.sm-block({
				margin-bottom: 15px;
			});
		}
	}

	table {
		margin: 20px 0 30px;

		tr:nth-child(odd) {
			background-color: @main-grey;
		}

		tr:nth-child(even) {
			background-color: @light-grey;
		}

		tr {
			// width: 100%;
			// max-width: 
		}

		td {
			padding: 14px 120px 14px 40px;

			.sm-block({
				padding-right: 60px;
				padding-left: 20px;
			});
		}
	}

	&__content {
		h2.contentTitle {
			text-align: left;
			font-size: 1.438rem;
			line-height: 1.688rem;
			text-transform: uppercase;
			margin: 20px 0;

			.md-block({
				margin: 10px 0;
			});
		}

		&--aboutCompany {
			max-width: 1170px;
			margin: 0 auto;
		}

		&--members {
			.page__window {
				margin-top: 50px;
			}
		}

		&--pricelist {
			.page__textWrapper {
				margin-top: 0;
			}

			h2 {
				margin-bottom: 40px;

				.md-block({
					margin-bottom: 20px;
				});
			}
		}

		&--articles {

			ol {
				padding-left: 0;
				list-style-position: inside;

				li {
					margin-bottom: 20px;
				}
			}

			strong {
				margin: 0;
				font-weight: 400;
				line-height: 2.5rem;

				span {
					display: block;
					font-weight: 700;
				}

				a {
					color: @red;
				}
			}

			figure {
				margin-top: 30px;
				align-items: center;

				img {
					max-width: 446px;

					.md-block({
						max-width: 350px;
					});

					.sm-block({
						max-width: 250px;
					});

					.xs-block({
						max-width: 80%;
					});
				}
			}

			figcaption {
				ol {
					padding-left: 20px;
				}
			}
		}
	}

	&__video {
		width: 100%;
		max-width: 1170px;
		margin-top: 105px;
		margin-bottom: 32px;
		position: relative;
		z-index: 1;
		cursor: pointer;

		.sm-block({
			margin-top: 50px;
		});

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&::before {
			content: '';
			width: 150px;
			height: 60px;
			background: url(../img/play.svg) no-repeat center / contain;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}

		&::after {
			content: '';
			width: 168px;
			height: 88px;
			background-color: @red;
			border-radius: 15px;
			opacity: 0.8;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			transition: opacity .3s ease;
		}
	}

	&__window {
		max-width: 1170px;
		margin: 92px auto 0;
		padding: 100px 82px;
		box-sizing: border-box;
		box-shadow: @box-shadow;
		font-size: 1rem;

		.sm-block({
			margin-top: 50px;
			padding: 50px 40px;
		});

		.xs-block({
			margin-top: 25px;
			padding: 15px 10px;
		});

		strong {
			display: block;
			text-align: center;
			text-transform: uppercase;
			font-size: 1rem;
			line-height: 2.063rem
		}
		h3 {
			margin-top: 10px;
			margin-bottom: 20px;
			text-align: center;
		}

		ol {
			margin-bottom: 30px;
			padding-left: 16px;
		}
	}
}